openapi: 3.2.0
info:
  title: Bread Pay Platform Payment Options API
  description: BreadPay Platform API for managing buyers, merchant accounts, payment options, and the full transaction lifecycle (create, authorize, cancel, capture, refund). Authentication uses OAuth 2.0 Client Credentials Flow with credentials issued from the Bread Merchant Portal. Hosted by Bread Financial Holdings (NYSE&#58; BFH) under the Bread Pay brand. The rebranded successor to Alliance Data Systems' BNPL surface.
  version: '1.0'
  contact:
    name: Bread Financial Developer Support
    url: https://platform-docs.breadpayments.com/bread-developers
  termsOfService: https://www.breadfinancial.com/en/terms-of-use.html
servers:
- url: https://api.platform.breadpayments.com/api
  description: Production
- url: https://api-preview.platform.breadpayments.com/api
  description: Preview / Sandbox
security:
- oauth2ClientCredentials: []
tags:
- name: Payment Options
  description: Retrieve buyer-personalized payment option pricing and terms.
paths:
  /payment-options:
    get:
      operationId: listPaymentOptions
      summary: Bread Pay List Payment Options
      description: List personalized Bread Pay payment options and pricing for the authenticated buyer context.
      tags:
      - Payment Options
      responses:
        '200':
          description: Payment options returned
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PaymentOption'
        '401':
          description: Unauthorized
components:
  schemas:
    Amount:
      type: object
      required:
      - value
      - currency
      properties:
        value:
          type: integer
          description: Amount in minor units (e.g. cents).
        currency:
          type: string
          example: USD
    PaymentOption:
      type: object
      properties:
        id:
          type: string
        productType:
          type: string
          enum:
          - SPLIT_PAY
          - INSTALLMENTS
          - CARD
        termMonths:
          type: integer
        apr:
          type: number
        monthlyPayment:
          $ref: '#/components/schemas/Amount'
  securitySchemes:
    oauth2ClientCredentials:
      type: oauth2
      description: OAuth 2.0 Client Credentials flow using API + Secret keys issued from the Bread Merchant Portal.
      flows:
        clientCredentials:
          tokenUrl: https://auth.platform.breadpayments.com/auth/sso/token
          scopes:
            transactions:read: Read transactions
            transactions:write: Create, authorize, settle, refund transactions
            buyers:read: Read buyer records
externalDocs:
  description: Bread Pay Platform API Reference
  url: https://platform-docs.breadpayments.com/bread-developers/reference
