openapi: 3.2.0
info:
  title: Bread Pay Platform Buyers API
  description: BreadPay Platform API for managing buyers, merchant accounts, payment options, and the full transaction lifecycle (create, authorize, cancel, capture, refund). Authentication uses OAuth 2.0 Client Credentials Flow with credentials issued from the Bread Merchant Portal. Hosted by Bread Financial Holdings (NYSE&#58; BFH) under the Bread Pay brand. The rebranded successor to Alliance Data Systems' BNPL surface.
  version: '1.0'
  contact:
    name: Bread Financial Developer Support
    url: https://platform-docs.breadpayments.com/bread-developers
  termsOfService: https://www.breadfinancial.com/en/terms-of-use.html
servers:
- url: https://api.platform.breadpayments.com/api
  description: Production
- url: https://api-preview.platform.breadpayments.com/api
  description: Preview / Sandbox
security:
- oauth2ClientCredentials: []
tags:
- name: Buyers
  description: Manage buyer records and look up personalized payment options.
paths:
  /buyer/{id}:
    get:
      operationId: getBuyer
      summary: Bread Pay Get A Buyer
      description: Retrieve a buyer record by Bread buyer identifier.
      tags:
      - Buyers
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Buyer found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Buyer'
        '401':
          description: Unauthorized
        '404':
          description: Buyer not found
components:
  schemas:
    Buyer:
      type: object
      properties:
        id:
          type: string
          format: uuid
        givenName:
          type: string
        familyName:
          type: string
        email:
          type: string
          format: email
        phone:
          type: string
        billingAddress:
          $ref: '#/components/schemas/Address'
        shippingAddress:
          $ref: '#/components/schemas/Address'
    Address:
      type: object
      properties:
        address1:
          type: string
        address2:
          type: string
        locality:
          type: string
        region:
          type: string
        postalCode:
          type: string
        country:
          type: string
  securitySchemes:
    oauth2ClientCredentials:
      type: oauth2
      description: OAuth 2.0 Client Credentials flow using API + Secret keys issued from the Bread Merchant Portal.
      flows:
        clientCredentials:
          tokenUrl: https://auth.platform.breadpayments.com/auth/sso/token
          scopes:
            transactions:read: Read transactions
            transactions:write: Create, authorize, settle, refund transactions
            buyers:read: Read buyer records
externalDocs:
  description: Bread Pay Platform API Reference
  url: https://platform-docs.breadpayments.com/bread-developers/reference
